.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.forms{
align-items: center;
background-color: beige;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgb(217, 255, 127);
  width: 500px;
  height: auto;
  max-width: 600px;
  margin: 0px auto;
  border: 1px solid black;  
}
.edit{
  color: #fb6161;
  line-height: 50px;

}
.pick{
  text-align: center; 
}